body {
	font-family: 'Open Sans', sans-serif;
	margin: 0 auto;
	width: 960px;
}
.container {
	width: auto;
	height: 35%;
	display: flex;
	justify-content: center;
	position: relative;
	margin-bottom: 2px;
}
.header-img {
	width: 960px;
	height: 35%;
	position: relative;
}
.profile-img {
	width: 350px;
	height: 350px;
	position: absolute;
	align-self: center;
	border-radius: 50%;
	object-fit: cover;
	object-position: 30% 0%;
}
footer {
	margin: 40px 0;
}
nav li {
	display: inline;
	float: left;
}
footer nav a:link, footer nav a:visited {
	color: gray;
	text-decoration: none;
	display: block;
	width: 260px;
	text-align: center;
	background-color: white;
}
footer nav a:hover {
	color: black;
}
/*.profile-img:hover {
	transform: scale(1.25);
}*/
/*#menu li {
	display: inline;
}*/