body {
	font-family: 'Open Sans', sans-serif;
	margin: 0 auto;
	width: 960px;
}
.container {
	width: auto;
	height: 35%;
	display: flex;
	justify-content: center;
	position: relative;
	margin-bottom: 2px;
}
.header-img {
	width: 960px;
	height: 35%;
	position: relative;
}
.profile-img {
	width: 350px;
	height: 350px;
	position: absolute;
	align-self: center;
	border-radius: 50%;
	object-fit: cover;
	object-position: 30% 0%;
}
footer {
	display:  fixed;
	padding:  5px;
	justify-content: center;
	text-align: center;
	background-color:  #FF5C5C;
}
.contact {
	margin: 15px;
}
.contact button {
	width: 100px;
	height: 50px;
}
/*.profile-img:hover {
	transform: scale(1.25);
}*/
/*#menu li {
	display: inline;
}*/